aiohttp>=3.8.1
aiosignal>=1.2.0
async-timeout>=4.0.2
backoff>=1.11.1
beautifulsoup4>=4.11.1
colorama>=0.4.5
navec>=0.10.0
numpy>=1.19.5
pydantic>=1.9.1
pymorphy2>=0.9.1
pymorphy2-dicts-ru>=2.4.417127.4579844
razdel>=0.5.0
requests>=2.27.1
slovnet>=0.5.0
structlog>=21.5.0
tqdm>=4.64.0
typer>=0.6.1
typing-extensions>=4.1.1
urllib3>=1.26.11
yargy>=0.15.0
yarl>=1.7.2
aiohttp_retry==2.5.1    
requests>=2.27.1
natasha>=1.5.0